<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Heating Master Store</title>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="expires" content="0">
<meta >
</head>
<body >
<table  width="600" style="background-color:#E3F1FF; color:#444444">
<tr>
<td><a href="http://www.heatingmaster.co.uk" target="_blank"><img src="http://www.heatingmaster.co.uk/static/oscar/img/svg/logo_store.gif" width="210"  alt="Heating Master Store" /></a></td>
</tr>
<tr>
<td >

<p>Dear Customer:</p><br/>

<p>Congratulations on joining us.</p>
<p>We hope you enjoy your shopping experience.</p>

<p>If you have any further queries, please contact us at sales@heatingmaster.co.uk</p><br/>

<p>Thank you for choosing Heating Master Store - UK's leading underfloor heating products supplier.</p>
<p><a href="http://www.heatingmaster.co.uk" target="_blank">www.heatingmaster.co.uk</a></p>

</td>
</tr>
<tr>
<td>
<p >
  <a href="http://www.heatingmaster.co.uk" target="_blank">
  <img src="http://www.heatingmaster.co.uk/static/oscar/img/ui/sprite.png"  alt="verisign" /></a>
  </p>
<p>Copyright 2013 Heating Master Limited, t/a Heating Master Store</p>

</td>
</tr>
</table>
</body>
</html>
